.idea
.vscode
src/iFPGA/build
src/iFPGA/cmake-build-debug
src/iFPGA/lib
src/yosys/build
src/yosys/Makefile.conf
src/yosys/yosys
src/yosys/abc
src/yosys/yosys-abc
src/yosys/yosys-config
src/yosys/yosys-filterlib
src/yosys/yosys-smtbmc
*.d
*.o
data/yosys-bench
