.idea
.vscode
src/iFPGA/build
src/iFPGA/debug
src/iFPGA/lib
src/yosys/build
src/yosys/Makefile.conf
src/yosys/yosys
src/yosys/abc
src/yosys/yosys-abc
src/yosys/yosys-config
src/yosys/yosys-filterlib
src/yosys/yosys-smtbmc
test/mapper_test/output
*.d
*.o
data/yosys-bench
